* {
  box-sizing: border-box;
}
/* medie for desktop view */
@media only screen and (max-width: 1800px) {
  .forside_body {
    background-color: #bf846f;
    margin: 0%;
    height: 600px;
  }
  html {
    background-color: #bf846f;
    margin: 0px;
  }
  body {
    background-color: #ebe4e1;
    margin: 0%;
  }

  img {
    max-width: 100%;
    margin: 0%;
  }

  /* menu */
  .navbar {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    color: #c8c9ce;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Philosopher", sans-serif;
    padding: 20px;
    gap: 70px;
    background-color: #bf846f;
    background-color: #bf6e50;
  }

  .navbar a {
    float: left;
    display: block;
    color: #000000;
    color: #eaebf1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: 1.1rem;
  }

  .navbar a:hover {
    color: rgb(0, 0, 0);
  }

  header {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .logo {
    width: 5%;
    position: relative;
    right: -1000px;
  }

  /* forside */
  .splash_wrapper {
    height: 1px;
  }

  .splashbillede {
    opacity: 95%;
  }

  .splashtext1 {
    position: relative;
    text-align: center;
    font-size: 6.5rem;
    top: -610px;
    font-family: "Philosopher", sans-serif;
    color: #bf846f;
    text-shadow: 2px 2px 4px #353232;
  }
  .splashtext2 {
    color: #bf846f;
    position: relative;
    text-align: center;
    font-size: 3rem;
    top: -700px;
    font-family: "Philosopher", sans-serif;
    text-shadow: 2px 2px 4px #3f3c3c;
  }

  .hr1 {
    border-top: #bf846f 4px solid;
    color: #bf846f;
    position: relative;
    top: -670px;
    width: 1000px;
    overflow: hidden;
  }

  /* menu siden */
  .space {
    height: 15px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
  }
  article {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #bf846f;
    border: solid 6px #bf6e50;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
    text-align: center;
    outline: 2px solid white;
    outline-offset: -8px;
  }
  .h1_kategori {
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 3rem;
    color: #524b49;
  }
  /* filter knapper */
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 10px;
  }
  nav button {
    margin: 5px;
    width: 90px;
    height: 30px;
    gap: 20px;
    background-color: #bf846f;
    border: #bf846f;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-size: 0.9rem;
  }
  nav button a:hover {
    margin: 5px;
    width: 140px;
    height: 30px;
    gap: 20px;
    background-color: #9c7466;
    border: #bf846f;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
  }

  /* pop up vindue */
  #modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -1px;
    left: -10px;
    margin: 10px;
    padding: 10px;
    color: #524b49;
    background-color: #ebe4e1;
    border: solid 5px #bf846f;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
    text-align: center;
  }

  #modal article {
    width: 50%;
    left: 50%;
    position: fixed;
    left: 350px;
    top: 110px;
    background-color: #bf846f;
    color: white;
    font-size: 0.8rem;
  }

  .tilbageknap {
    position: relative;
    top: 100px;
    left: -550px;
    margin: 5px;
    width: 140px;
    height: 30px;
    gap: 20px;
    background-color: #bf846f;
    border: #bf846f;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
  }

  .langbeskrivelse {
    font-family: "Martel", serif;
  }

  .kortbeskrivelse {
    font-family: "Martel", serif;
  }

  .pris {
    font-family: "Martel", serif;
  }
  .oprindelsesregion {
    font-family: "Martel", serif;
  }

  /*footer*/
  .hr2 {
    color: #bf6e50;
    border-top: #e4dfdb 4px solid;
    position: relative;
    top: -10px;
    width: 1435px;
    overflow: hidden;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    color: white;
    width: 100%;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
    top: 0;
    padding: 20px;
    height: 20px;
    background-color: #bf846f;
  }

  .Åbningstider {
    position: relative;
    left: 10px;
    grid-column: 2/3;
    grid-row: auto;
    background-color: #bf846f;
  }
  .tider {
    position: relative;
    left: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.5rem;
    background-color: #bf846f;
  }
  .oplysninger {
    position: relative;
    grid-column: 1/2;
    grid-row: auto;
    background-color: #bf846f;
    left: 10px;
  }
  .kontakt {
    position: relative;
    left: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.5rem;
    background-color: #bf846f;
  }
}

/* media mobile first */

@media only screen and (max-width: 900px) {
  .forside_body {
    background-color: #bf846f;
    margin: 0%;
    height: 600px;
  }
  html {
    background-color: #bf846f;
  }

  body {
    background-color: #ebe4e1;
    margin: 0%;
  }

  img {
    max-width: 100%;
    margin: 0%;
  }

  /* menu mobil*/
  .navbar {
    display: flex;
    flex-wrap: wrap;
    color: #c8c9ce;
    position: fixed;
    height: 80px;
    top: 0;
    width: 100%;
    font-family: "Philosopher", sans-serif;
    font-size: 1.2rem;
    padding: 20px;
    gap: 70px;
    background-color: #bf846f;
    background-color: #bf6e50;
  }

  .navbar a {
    float: left;
    display: block;
    color: #000000;
    color: #eaebf1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: 1rem;
  }

  .navbar a:hover {
    color: rgb(0, 0, 0);
  }

  header {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .logo {
    width: 12%;
    position: relative;
    right: -50px;
  }

  /* forside mobil*/
  .splash_wrapper {
    height: 1px;
  }

  .splashbillede {
    opacity: 95%;
  }

  .splashtext1 {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    top: -160px;
    font-family: "Philosopher", sans-serif;
    color: #bf846f;
    text-shadow: 2px 2px 4px #353232;
  }
  .splashtext2 {
    color: #bf846f;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    top: -200px;
    font-family: "Philosopher", sans-serif;
    text-shadow: 2px 2px 4px #3f3c3c;
  }

  .hr1 {
    border-top: #bf846f 2px solid;
    color: #bf846f;
    position: relative;
    top: -180px;
    width: 400px;
  }

  /* menu siden mobil*/
  .space {
    height: 15px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
  }

  article {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #bf846f;
    border: solid 6px #bf6e50;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
    text-align: center;
    outline: 2px solid white;
    outline-offset: -8px;
  }
  .h1_kategori {
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 3rem;
    color: #524b49;
  }
  /* filter knapper */
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 10px;
  }
  nav button {
    margin: 5px;
    width: 90px;
    height: 30px;
    gap: 20px;
    background-color: #bf846f;
    border: #bf846f;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-size: 0.9rem;
  }
  nav button a:hover {
    margin: 5px;
    width: 140px;
    height: 30px;
    gap: 20px;
    background-color: #9c7466;
    border: #bf846f;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
  }

  /* modal pop op vindue */
  #modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -1px;
    margin: 10px;
    padding: 10px;
    color: #524b49;
    background-color: #ebe4e1;
    border: solid 5px #bf846f;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
    text-align: center;
  }

  #modal article {
    width: 50%;
    left: 23%;
    position: fixed;
    top: 150px;
    background-color: #bf846f;
    color: white;
  }

  .tilbageknap {
    position: relative;
    top: 80px;
    left: 5px;
    margin: 5px;
    width: 140px;
    height: 30px;
    gap: 20px;
    background-color: #bf846f;
    border: #bf846f;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
  }
  .langbeskrivelse {
    font-family: "Martel", serif;
  }

  .kortbeskrivelse {
    font-family: "Martel", serif;
  }

  .pris {
    font-family: "Martel", serif;
  }
  .oprindelsesregion {
    font-family: "Martel", serif;
  }

  /*footer mobil*/
  .hr2 {
    color: #bf6e50;
    border-top: #e4dfdb 4px solid;
    position: relative;
    top: -10px;
    width: 440px;
    overflow: hidden;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    color: white;
    width: 100%;
    font-family: "Philosopher", sans-serif;
    font-size: 1rem;
    top: 0;
    padding: 20px;
    height: 20px;
    background-color: #bf846f;
  }

  .Åbningstider {
    position: relative;
    left: 5px;
    grid-column: 2/3;
    grid-row: auto;
    background-color: #bf846f;
    font-size: 0.8rem;
  }
  .tider {
    position: relative;
    left: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1rem;
    background-color: #bf846f;
  }
  .oplysninger {
    position: relative;
    grid-column: 1/2;
    grid-row: auto;
    background-color: #bf846f;
    left: 5px;
    font-size: 0.8rem;
  }
  .kontakt {
    position: relative;
    left: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    background-color: #bf846f;
  }
}
